# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/

# Databases (Crucial for SQLite)
*.db
*.sqlite3

# Uploads (Don't sync local receipt images)
backend/uploads/*
!backend/uploads/.gitkeep

# Node / React
node_modules/
build/
dist/
.eslintcache
.stylelintcache

# OS specific
.DS_Store
Thumbs.db